<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/phpunit/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/phpunit/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">api</directory>
        </whitelist>
        <file>IDProvider.functions.php</file>
        <file>IDProvider.hooks.php</file>
        <file>IDProvider.i18n.magic.php</file>
        <file>IDProvider.php</file>
    </filter>
</phpunit>