<phpunit colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/phpunit/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/phpunit/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>